@use 'sass:map';
@use '../abstracts' as *;

.filters{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 20%;
    border-inline-end: 1px solid theme('border');
    background: theme('bg');
    transition: transform 0.3s ease-in-out;
    z-index: 1000;

    padding: 1.5rem;
    gap: 1.5rem;

    [data-theme="dark"] & {
    border-color: theme-dark('border');
    background: theme-dark('bg');
  }

  &__section{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__header {
    font: $h3;
    color: theme('text-muted');
    margin: 0;
    padding: 0 0.5rem;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.75rem 1rem;
    background-color: theme('bg-light');
    border: 1px solid theme('border-muted');
    border-radius: 8px;
    font: $body;
    color: theme('text');
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;

    [data-theme="dark"] & {
        background-color: theme-dark('bg-light');
        border-color: theme-dark('border-muted');
        color: theme-dark('text');
    }
  

    &:hover {
      background-color: theme('bg');
      border-color: theme('border');

      [data-theme="dark"] & {
          background-color: theme-dark('bg');
          border-color: theme-dark('border');
      }
    }
  }
}

.dropdown-arrow{
    width: 20px;   
    height: 20px;
    fill: theme(text);

    [data-theme="dark"] & {
    fill: theme-dark('text');
  }
}

@media (max-width: 768px) {
    .filters {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 80%;  
        max-width: 300px;
        
        transform: translateX(-100%); 
    }

    body.filters-active .filters {
        transform: translateX(0);
        box-shadow: 5px 0 15px rgba(0,0,0,0.2);
    }
}