@use '../abstracts' as *;

.tile-container {
  background-color: theme('bg');
  height: 90vh;
  width: 80%;
  border-radius: 10px;

  [data-theme="dark"] & {
    background-color: theme-dark('bg');
  }
}

.tile {
  border: 2px solid theme('border');
  border-radius: 10px;
  background-color: theme('bg-light');
  display: flex;

  [data-theme="dark"] & {
    border-color: theme-dark('border');
    background-color: theme-dark('bg-light');
  }
}

.tile-image {
  stroke: theme('border');
  fill: theme('bg-light');

  [data-theme="dark"] & {
    stroke: theme-dark('border');
    fill: theme-dark('bg-light');
  }
}

@media (max-width: 768px) {
    .tile-container {
        width: 100%;
    }
}