$ff: "inter", sans-serif;

$h1: 700 39px/47px $ff; 
$h2: 700 31px/40px $ff; 
$h3: 600 25px/35px $ff; 
$h4: 600 20px/30px $ff; 
$body: 400 16px/24px $ff; 
$small: 400 14px/21px $ff; 
$caption: 400 12px/18px $ff;